#!/usr/bin/env xdg-open
[Desktop Entry]
Name=PRU Overview
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/pru-icon.png
Exec=pru_overview_info.sh
Type=Application
Categories=pru
ProgramType=console
X-MATRIX-Description=/usr/share/matrix-gui-2.0/apps/pru_overview_info/desc_pru_overview_info.html
X-MATRIX-DisplayPriority=1
