#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Const Table
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/pru-icon.png
Exec=pru_access_const_table.sh
Type=Application
Categories=pru
ProgramType=console
X-MATRIX-Description=/usr/share/matrix-gui-2.0/apps/pru_access_const_table/desc_pru_access_const_table.html
