#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Camera Loopback
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/multimedia-icon.png
Type=Application
Exec=runCameraLoopback.sh
ProgramType=gui
X-MATRIX-Description=/usr/share/matrix-gui-2.0/apps/camera_loopback/desc_cam_loopback.html
