#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Display
GenericName=Display
Icon=/usr/share/matrix-gui-2.0/apps/images/multimedia-icon.png
Type=Directory
X-MATRIX-CategoryTarget=display

