#!/usr/bin/env xdg-open
[Desktop Entry]
Name=V4L2 Display
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/multimedia-icon.png
Type=Application
Exec=runSaMmapDisplay.sh
Categories=display
ProgramType=gui
X-MATRIX-Description=/usr/share/matrix-gui-2.0/apps/v4l2_display/desc_v4l2_display.html
