#!/usr/bin/env xdg-open
[Desktop Entry]
Name=L3, DDR Access
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/pru-icon.png
Exec=pru_L3_DDR.sh
Type=Application
Categories=pru
ProgramType=console
X-MATRIX-Description=/usr/share/matrix-gui-2.0/apps/pru_L3_DDR/desc_pru_L3_DDR.html
