#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Vase
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/3d-vase.png
Type=Application
Exec=runOGLESVase.sh -qaf=1000
Categories=3d
ProgramType=gui
